h1 {
  @apply text-5xl font-bold mb-4;
}

a {
  @apply relative bg-gradient-to-r from-[#fe32ab] to-[#a058bc] bg-clip-text after:absolute after:w-full after:h-px
  after:bg-gradient-to-r after:from-[#fe32ab] after:to-[#a058bc] after:bottom-0 after:left-0 after:z-[-1]
  after:scale-x-0 hover:after:scale-x-100 after:transform after:duration-300 after:ease-out;
  -webkit-text-fill-color: transparent;
}

.button-gradient  {
  @apply w-max z-10 text-lg text-white px-5 py-2 rounded overflow-hidden relative after:transition-all before:transition-all after:duration-500 before:duration-500
  after:w-full after:h-full after:absolute after:z-[-1] after:top-0 after:left-0 after:bg-gradient-to-r after:from-[#fe32ab] after:to-[#a058bc] hover:after:opacity-0
  before:w-full before:h-full before:absolute before:z-[-1] before:top-0 before:left-0 before:bg-gradient-to-r before:from-[#a058bc] before:to-[#fe32ab] before:opacity-50 hover:before:opacity-100;
}